<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <form action="/" method="POST">
    <div class="inptext">
   <h3><label for="title">Title of your todo</label></h3>
    <input type="text" name="title" placeholder="Enter your todo title">
  <br><br><br>
   <h3><label for="Description">Description</label></h3> 
    <input type="text" name="Description" placeholder="Enter your todo description">
  <br><br><br>
    <button type="submit">Submit</button>
  </form>
</div>